body{
    margin: 0;
    padding: 0;
}

main{
    padding: 0;
    margin: 0;
}

.container{
    width: 100hv;
    height: 100vh;
}

.background{
    background-image: url(https://www.emepropiedadraiz.com.co/imagen?cat=LOGO&cod_obra=2702&size=N&tipo=&cod_imagen=00000136);
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
}

.back-color{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    position: relative;
}

.row{
    width: 60%;
    height: 60vh;
    position: absolute;
    margin-top: 250px;
}

.col-60{
    width: 100%;
    padding: 30px;
}


.col-60 h2{
    margin-top: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    font-weight: 700%;
    color: rgb(245, 109, 46);
    transition: ease-in-out 1s;
}

.col-60 h2:hover{
    transform: translateX(100px);
}

.col-60 p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.7rem;
    font-weight: 700%;
    color: white;
    transition: ease-in-out 1s;
}

.col-60 p:hover{
    transform: scale(1);
}

.col-60 button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    color: white;
    background-color: rgb(231, 31, 198) ;
    border-radius: 20px;
    padding: 10px 40px;
    border: none;
    font-weight: 600;
    transition: ease-in-out 1s;
}

.col-60 button:hover{
    color:rgb(190, 31, 177);
    background-color:rgb(27, 233, 216) ;
    cursor: pointer;
    transform: rotate(360deg);
}